<div class="breadcrumb {{class}}">
  <a href="/">Home</a>
  &gt;
  {{#each hierarchy.parents}}
  <a href="{{this.url}}">{{this.name}}</a>
  &gt;
  {{/each}}
  <span class="breadcrumb__current">{{#if name}}{{name}}{{else}}{{title}}{{/if}}</span>
</div>
