        </div>
    </div>
    {{#unless no_side_menu}}
    <div id="side-menu-container" class="column show-for-medium medium-4 large-3 medium-pull-8 large-pull-9">
        <div id="side-menu" data-space="{{url.key.space_path}}">
            {{> left_menu}}
        </div>
    </div>
    {{/unless}}
</div>

<div id="footer" class="row expanded">
    <button id="goto-top" type="button">
        <img src="/assets/imgs/icons/goto-top-icon.svg">
        <span>To Top</span>
    </button>
    {{> versions_inline}}
    {{!-- Has id to ensure main menu works on pages without a submenu --}}
    <nuxeo-footer id="nuxeo-submenu" year="{{moment format='YYYY'}}" show-license>
        <nuxeo-footer-column column-items='[[
        {"title": "Why Nuxeo?", "url": "https://nuxeo.com/why-nuxeo/"}], [
        {"title": "Contact", "url": "https://nuxeo.com/about/contact/"},
        {"title": "Request a Demo", "url": "https://nuxeo.com/about/request-demo/"}]]'></nuxeo-footer-column>
        <nuxeo-footer-column column-items='[[
        {"title": "Nuxeo Platform", "url": "https://nuxeo.com/products/content-management-platform/"},
        {"title": "Nuxeo Studio", "url": "https://nuxeo.com/products/studio/"},
        {"title": "Integrations", "url": "https://nuxeo.com/integration/"},
        {"title": "REST API", "url": "https://nuxeo.com/rest-api/"},
        {"title": "Performance & Scalability", "url": "https://nuxeo.com/products/performance/"}], [
        {"title": "Download or Online Trial", "url": "https://nuxeo.com/downloads/"}]]'></nuxeo-footer-column>
        <nuxeo-footer-column column-items='[[
        {"title": "Use Cases", "url": "https://nuxeo.com/solutions/digital-asset-management/"},
        {"title": "Document Management", "url": "https://nuxeo.com/solutions/document-management/"},
        {"title": "Digital Asset Management", "url": "https://nuxeo.com/solutions/digital-asset-management/"},
        {"title": "More Use Cases…", "url": "https://nuxeo.com/solutions/"}], [
        {"title": "Customers", "url": "https://nuxeo.com/customers/"}]]'></nuxeo-footer-column>
        <nuxeo-footer-column column-items='[[
        {"title": "Learning", "url": "https://nuxeo.com/resources/"},
        {"title": "Reports", "url": "https://nuxeo.com/reports/"},
        {"title": "Blog", "url": "https://nuxeo.com/blog/"},
        {"title": "University", "url": "https://university.nuxeo.io/"}], [
        {"title": "Services", "url": "https://nuxeo.com/services/"}]]'></nuxeo-footer-column>
    </nuxeo-footer>
</div>
<script type="text/javascript" src="/{{js.vendor}}"></script>
<script type="text/javascript" src="/{{js.docs}}"></script>

{{#if script}}
<script type="text/javascript" src="/{{obj_key js script}}"></script>
{{/if}}

{{! Algolia DocSearch }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
apiKey: '482c0a65c92c01569f0d04bac01b5979',
indexName: 'nuxeo',
inputSelector: '#search-input',
algoliaOptions: {
    filters: 'tags:{{#if (condition url.key.version '!=' '')}}{{url.key.version}}{{else}}ft{{/if}} OR tags:static',
    hitsPerPage: 10
},
debug: false // Set debug to true if you want to inspect the dropdown "{{url.key.version}}"
});
</script>
