        </div>
    </div>
    {{#unless no_side_menu}}
    <div id="side_menu_container" class="column show-for-medium medium-4 large-3 medium-pull-8 large-pull-9">
        <div id="side_menu" data-space="{{url.key.space_path}}">
            {{> left_menu}}
        </div>
    </div>
    {{/unless}}
</div>

<div id="docs_footer" class="row expanded">
  <button id="prodpad_open_feedback" type="button" class="button rounded" data-open="prodpad_feedback" title="Documentation Feedback" aria-controls="prodpad_feedback" aria-haspopup="true" tabindex="0">
      <i class="fa fa-comment fa-fw fa-lg"></i> Not Helpful? Tell Us Why
  </button>
  <button id="goto_top" type="button">
    <img src="/assets/imgs/icons/goto-top-icon.svg">
    <span>To Top</span>
  </button>
  {{> versions_inline}}

  {{! Standard Nuxeo footer }}
  <script type="text/javascript" src="//static.nuxeo.com/satellite/latest/bower_components/webcomponentsjs/custom-elements-es5-adapter.js"></script>
  <script type="text/javascript" src="//static.nuxeo.com/satellite/latest/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="//static.nuxeo.com/satellite/latest/elements/elements.html">

  <nuxeo-footer year="{{moment format='YYYY'}}" show-license></nuxeo-footer>
</div>

<div class="tiny reveal" id="prodpad_feedback" data-reveal data-animation-in="slide-in-right" data-animation-out="slide-out-right">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="content">
    <h3>We'd love to hear your thoughts!</h3>
    <form>
      <label>
        What would make this page better?
        <textarea name="feedback" placeholder="It would be awesome if..." rows="5"  required></textarea>
      </label>
      <label>
        <input type="text" name="name" placeholder="Name" value="" required>
      </label>
      <label>
        <input type="email" name="email" placeholder="Email" value="" required>
      </label>
      All fields required
      <button id="prodpad_feedback_submit" type="button" disabled="disabled" class="disabled button float-right">Submit Feedback</button>
    </form>
  </div>
</div>

<script type="text/javascript" src="/{{js.vendor}}"></script>
<script type="text/javascript" src="/{{js.docs}}"></script>

{{#if script}}
<script type="text/javascript" src="/{{obj_key js script}}"></script>
{{/if}}

{{! Algolia DocSearch }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
apiKey: '482c0a65c92c01569f0d04bac01b5979',
indexName: 'nuxeo',
inputSelector: '#search-input',
algoliaOptions: {
    filters: 'tags:{{#if (condition url.key.version '!=' '')}}{{url.key.version}}{{else}}ft{{/if}} OR tags:static',
    hitsPerPage: 10
},
debug: false // Set debug to true if you want to inspect the dropdown "{{url.key.version}}"
});
</script>
