<div id="nuxeo-satellite-header">
    {{#if homepage}}
    <div class="nuxeo-satellite-header expanded">
        <div class="nuxeo-satellite-left-menu">
            <ul>
                <li class="menu-home" role="menuitem"><a href="https://www.nuxeo.com/"><img src="/assets/imgs/logo340x60.png" width="80" height="14" alt="Nuxeo" class="nuxeo-satellite-logo"></a></li>
                <li class="menu-link" role="menuitem"><a href="https://www.nuxeo.com/why-nuxeo/">Why Nuxeo</a></li>
                <li class="menu-link" role="menuitem"><a href="https://www.nuxeo.com/products/content-management-platform/">Products</a></li>
                <li class="menu-link" role="menuitem"><a href="https://www.nuxeo.com/solutions/digital-asset-management/">Use Cases</a></li>
                <li class="menu-link" role="menuitem"><a href="https://www.nuxeo.com/services/">Services</a></li>
                <li class="menu-link" role="menuitem"><a href="https://www.nuxeo.com/customers/">Customers</a></li>
                <li class="menu-link" role="menuitem"><a href="https://www.nuxeo.com/resources/">Learning</a></li>
            </ul>
        </div>
        <div class="nuxeo-satellite-right-menu">
            <ul>
                <li><a href="https://nuxeo.com/about/contact/"><img alt="Contact" src="/assets/imgs/contact.svg"></a></li>
                <li class="nuxeo-satellite-download"><a href="https://www.nuxeo.com/downloads/">Download</a></li>
            </ul>
        </div>
    </div>
    {{/if}}
    <div class="nuxeo-satellite-menu expanded">
        <div class="nuxeo-satellite-left-menu">
            <div class="rainbow-menu" role="menuitem">
                <a href="/"><img class="nuxeo-satellite-icon" src="/assets/icons/favicon-16x16.png" width="16" height="16" alt="Nuxeo Documentation"> Documentation
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="nuxeo-satellite-right-menu">
            <ul>
                <li>
                    <button id="search-button"><i class="fa fa-search"></i></button>
                </li>
                <li>
                    <form id="search-box" action="/" method="get" class="closed">
                        <input type="text" name="q" value="" placeholder="SEARCH DOCS&hellip;">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div id="doc-main-menu">
        <ul>
        {{#each site.main_menu}}
            <li class="section-{{section_color}}" role="menuitem">
                <a href="{{parent}}" role="menuitem">{{page_title parent}}</a>
                <ul class="child">
                {{#each children as |child|}}
                    <li>
                        <a href="{{child}}" role="menuitem" title="{{page_title child}}">{{page_title child}}</a>
                    </li>
                {{/each}}
                </ul>
            </li>
        {{/each}}
        </ul>
    </div>
</div>
