<nuxeo-header {{#if homepage}}show-nuxeo-menu{{/if}}></nuxeo-header>
<div id="nuxeo-satellite-header">
    <div class="nuxeo-satellite-menu expanded">
        <div class="nuxeo-satellite-left-menu">
            <div class="rainbow-menu" role="menuitem">
                <a href="/">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path class="nsvglogo-accent" d="M0,0 5,0 24,19 24,24 19,24 0,5M0,24 0,19 19,0 24,0 24,5 5,24z"></path></svg>
                  <span class="menu-home-text">Documentation</span>
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="nuxeo-satellite-right-menu">
            <ul>
                <li>
                    <button id="search-button"><i class="fa fa-search"></i></button>
                </li>
                <li>
                    <form id="search-box" class="closed">
                        <input id="search-input" type="text" value="" placeholder="SEARCH DOCS&hellip;">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div id="doc-main-menu">
        <ul>
        {{#each site.main_menu}}
            <li class="section-{{section_color}}" role="menuitem">
                <a href="{{parent}}" role="menuitem">{{page_title parent}}</a>
                <ul class="child">
                {{#each children as |child|}}
                    <li>
                        <a href="{{child}}" role="menuitem" title="{{page_title child}}">{{page_title child}}</a>
                    </li>
                {{/each}}
                </ul>
            </li>
        {{/each}}
        </ul>
    </div>
</div>
