<!doctype html>
<html class="no-js" lang="en">
<head>
    {{! Header and menu }}
    {{!--
    <script>
    (function(i,s,o,g,r,a,m){i['NuxeoSatelliteHeaderObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//nuxeo-satelite-f3e353d5cd8ae50ead.surge.sh/assets/js/satellite.min.js','nsh');

    nsh('sitename', 'Documentation');
    nsh('menu_items', 'Tutorials', "{{page page='nxdoc/tutorials'}}");
    nsh('menu_items', 'Nuxeo Server', "{{page page='nxdoc/nuxeo-server'}}");
    nsh('menu_items', 'Web UI', "{{page page='nxdoc/web-ui'}}");
    nsh('menu_items', 'Desktop/Mobile', "{{page page='nxdoc/desktop-and-mobile'}}");
    nsh('menu_items', 'Nuxeo Packages', "{{page page='nxdoc/marketplace-add-ons'}}");
    nsh('menu_items', 'Client SDK', "{{page page='nxdoc/client-sdks'}}");
    nsh('menu_items', 'Online Services', "{{page page='studio/index'}}");
    nsh('menu_items', 'Tools', '#');
    <link rel="stylesheet" href="/assets/satellite.css"/>
    </script>
    --}}

    {{! Styling }}
    <link rel="stylesheet" href="/assets/css/{{css.md5}}/docs.css" />
    {{#if style}}
    <link rel="stylesheet" href="/assets/css/{{css.md5}}/{{style}}.css">
    {{/if}}

    {{#if site.ga_exp_id}}
    {{!-- Google Analytics Content Experiment code --}}
    <script>function utmx_section(){}function utmx(){}(function(){var
    k={{site.ga_exp_id}},d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return esfcape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    {{!-- End of Google Analytics Content Experiment code --}}
    {{else}}
    <!-- No GA Experiment ID -->
    {{/if}}
    {{#if site.ga_id}}
    {{!-- Google Analytics Content Experiment code --}}
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{site.ga_id}}', 'auto');
    ga('send', 'pageview');
    </script>
    {{else}}
    <!-- No GA ID -->
    {{/if}}

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{head_title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="lang" content="en">
    <meta name="language" content="en">
    <link rel="canonical" href="{{site.url}}{{url.canonical}}">

    {{> meta_tags}}

    {{!-- Meta templates: https://moz.com/blog/meta-data-templates-123 --}}
    {{!-- Twitter Card data --}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{site.twitter}}">
    <meta name="twitter:title" content="{{title}}{{#unless title}}{{site.name}}{{/unless}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="@{{site.twitter}}">
    {{!-- Twitter Summary card images must be at least 120x120px --}}
    <meta name="twitter:image" content="{{#if featured_image}}{{site.url}}{{featured_image}}{{else}}{{site.url}}/assets/imgs/logo340x60.png{{/if}}">

    {{!-- Open Graph data --}}
    <meta property="og:title" content="{{title}}{{#unless title}}{{site.name}}{{/unless}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{site.url}}{{url.full}}" />
    <meta property="og:image" content="{{#if featured_image}}{{site.url}}{{featured_image}}{{else}}{{site.url}}/assets/imgs/logo340x60.png{{/if}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:site_name" content="{{site.name}}" />

    {{!-- Favicons --}}
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/icons/manifest.json">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#2199e8">

    <link rel="search" type="application/opensearchdescription+xml" title="Nuxeo Documentation" href="/opensearch.xml" />

    {{#if site.segment_write_key}}
    <script type="text/javascript">
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
          analytics.load("{{site.segment_write_key}}");
          analytics.page()
        }}();
    </script>
    {{/if}}

    {{! Algolia DocSearch }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />

    {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8 --}}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" />
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />
    <![endif]-->
