<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script defer src="https://static.nuxeo.com/components/v1/bundle.min.js"></script>

    {{! Styling }}
    <link rel="stylesheet" href="/assets/css/{{css.md5}}/docs.css" />
    {{#if style}}
    <link rel="stylesheet" href="/assets/css/{{css.md5}}/{{style}}.css">
    {{/if}}

    <title>{{head_title}}</title>
    <meta name="description" content="{{head_description}}" />
    <meta name="lang" content="en">
    <meta name="language" content="en">
    <link rel="canonical" href="{{site.url}}{{url.full}}">
    {{#if current_branch.noindex}}<meta name="robots" content="noindex">{{/if}}

    {{> meta_tags}}
    <meta name="tags" content="{{labels}}">

    {{!-- Meta templates: https://moz.com/blog/meta-data-templates-123 --}}
    {{!-- Twitter Card data --}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{site.twitter}}">
    <meta name="twitter:title" content="{{title}}{{#unless title}}{{site.name}}{{/unless}}">
    <meta name="twitter:description" content="{{head_description}}">
    <meta name="twitter:creator" content="@{{site.twitter}}">
    {{!-- Twitter Summary card images must be at least 120x120px --}}
    <meta name="twitter:image" content="{{#if featured_image}}{{site.url}}{{featured_image}}{{else}}{{site.url}}/assets/imgs/logo340x60.png{{/if}}">

    {{!-- Open Graph data --}}
    <meta property="og:title" content="{{title}}{{#unless title}}{{site.name}}{{/unless}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{site.url}}{{url.full}}" />
    <meta property="og:image" content="{{#if featured_image}}{{site.url}}{{featured_image}}{{else}}{{site.url}}/assets/imgs/logo340x60.png{{/if}}" />
    <meta property="og:description" content="{{head_description}}" />
    <meta property="og:site_name" content="{{site.name}}" />

    {{!-- Favicons --}}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=c2d5">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=c2d5">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=c2d5">
    <link rel="manifest" href="/assets/icons/manifest.json?v=c2d5">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=c2d5" color="#0066ff">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico?v=c2d5">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=c2d5">
    <meta name="theme-color" content="#73d2cf">

    <link rel="search" type="application/opensearchdescription+xml" title="Nuxeo Documentation" href="/opensearch.xml" />

    {{#if site.ga_key}}
    {{! Global site tag (gtag.js) - Google Analytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.ga_key}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{site.ga_key}}');
    </script>
    {{/if}}

    {{#if site.segment_write_key}}
    {{! Segment integration }}
    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
      analytics.load("{{site.segment_write_key}}");
      analytics.page();
      }}();
    </script>
    {{/if}}

    {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8 --}}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" />
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />
    <![endif]-->
