<div class="column">
    <a class="fast-track {{id}}" href="{{url}}">
        <div>
            <img alt="{{id}}" src="/assets/imgs/icons/home_section_{{id}}.svg">
            <div>
                {{name}}
            </div>
        </div>
    </a>
</div>