{{#unless draft}}
    <div class="row column">
        <a href="/{{path}}/{{slug}}/">
            <h2 class="small strong">{{title}}</h2>
        </a>
        {{!--<p>
            {{!excerpt}}
        </p>

        <a href="/{{path}}{{slug}}/">
            Continue Reading &gt;
        </a>--}}
        <hr>
    </div>
{{/unless}}
