{{> header_standard}}
<div class="row">
    <div class="column">
        {{!> breadcrumb}}
        <div class="heading-group">
          <div class="style-bar"></div>
          <h1 id="page-title">{{title}}</h1>
          <div>
            Updated: {{moment history.[1].date format='LL'}}
            <a data-open="page-information" title="Page Information" aria-controls="page-information" aria-haspopup="true" tabindex="0">
                <img src="/assets/imgs/icons/info-icon.svg" alt="Page Information" width="18px" height="18px">
            </a>
            {{#if edit_url}}<a class="edit-page" title="Edit on GitHub" href="{{edit_url}}">
                <img src="/assets/imgs/icons/edit-in-github-icon.svg" alt="Edit on GitHub" width="15px" height="15px">
            </a>{{/if}}
          </div>
        </div>
        {{> flag_review}}
    </div>
    <div id="content" class="column {{#if toc}}toc {{#if toc_no_h4}}toc-no-h4{{/if}}{{/if}}{{#if tabbed_page}} tabbed{{/if}} end">
        {{{contents}}}
    </div>
    {{!-- #if toc} }
    <div id="toc" class="column large-4 show-for-large" data-sticky-container>
        <nav class="columns sticky" data-sticky data-top-anchor="content" data-sticky-on="large">
            <ul id="toc_list" class="vertical menu" data-magellan data-bar-offset="50"></ul>
        </nav>
    </div>
    {{/if --}}

    {{#if (condition previous_link '||' next_link)}}
    <div class="column">
        {{#if previous_link}}
        <a href="{{page previous_link}}" class="sequence-link previous-link float-left">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{page_title previous_link}}
        </a>
        {{/if}}
        {{#if next_link}}
        <a href="{{page next_link}}" class="sequence-link next-link float-right">
            {{page_title next_link}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
        {{/if}}
    </div>
    {{/if}}

    {{> information}}
</div>

{{> footer_standard}}
