{{> header_standard}}
{{> information}}
<div class="row">
    <div class="column">
        {{> breadcrumb}}
        <h1>{{title}}</h1>
    </div>
</div>
{{#if pdf_download_link}}
<div class="row">
    <div class="column medium-9 body-large">
        {{#md}}{{excerpt 'header'}}{{/md}}
    </div>
    <div class="column medium-3">
        <a class="button" href="{{pdf_download_link}}"><i class="fa fa-file-pdf-o"></i> Download in PDF</a>
    </div>
</div>
{{else}}
<div class="row">
    <div class="column body-large">
        {{#md}}{{excerpt 'header'}}{{/md}}
    </div>
</div>
{{/if}}

<div class="row" data-equalizer data-equalize-on="medium">
    <div class="column medium-6">
        <div class="callout secondary" data-equalizer-watch>
            {{#md}}{{excerpt 'top-left'}}{{/md}}
        </div>
    </div>
    <div class="column medium-6">
        <div class="callout secondary" data-equalizer-watch>
            {{#md}}{{excerpt 'top-right'}}{{/md}}
        </div>
    </div>
</div>
<div class="row" data-equalizer data-equalize-on="medium">
    <div class="column medium-6">
        <div class="callout secondary" data-equalizer-watch>
            {{#md}}{{excerpt 'bottom-left'}}{{/md}}
        </div>
    </div>
    {{#if (excerpt 'bottom-right')}}
    <div class="column medium-6">
        <div class="callout secondary" data-equalizer-watch>
            {{#md}}{{excerpt 'bottom-right'}}{{/md}}
        </div>
    </div>
    {{/if}}
</div>

{{#if (excerpt 'footer')}}
<div class="row">
    <div class="column">
        {{#> callout type='hint'}}
        {{#md}}{{excerpt 'footer'}}{{/md}}
        {{/callout}}
    </div>
</div>
{{/if}}

{{> footer_standard}}
